.hero {
    background-color: rgb(57, 57, 57);
    background-image: url('./img/hero.jpg');
    background-size: cover;
    background-position: center center;
    min-height: 50vh;
    position: relative;
    color: white;
    /* background-blend-mode: light; */
}

.text-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
}

.btn-overlay {
    position: absolute;
    width: 100%;
    height: 135%;
}

.btnOrder {
   font-size:x-small;
   text-align: center;
    color: white;
    background-color: rgb(212, 56, 108);
    border: none;
    border-radius: 0;
    padding: 12px 25px;
    text-decoration: none;
}

span {
    color: rgb(212, 56, 108);
}

h5 {
    color: rgb(212, 56, 108);
}

p {
    display: block;
    text-align: left;
    font-size:small;
}

@media (max-width: 768px) {
    .hero {
        min-height: 50vh;
    }
    h1 {
        font-size: calc(1.525rem + 3.3vw);
    }
}

.footer {
    height: 100px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
}

.footer p {
    margin: 0;
}

.footer h6 {
    font-size: smaller;
    font-weight: 600;
    line-height: 27px;
}

.footer-bottom {
    color: #cee0f2;
    background-color: rgb(4, 46, 197);
    padding: 40px;

}

.footer-bottom p.pull-left {
    padding-top: 6px;
    font-size: 0.75em;
}

#columns-3 {
    margin-bottom: 50px;
}